body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:powderblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 500px; /* ширина */
  margin: 15px auto; /* центрування блоку */
  padding: 10px 30px;
  border: 5px double green ;
  border-radius: 10px;
  background-color: #c9e4f1b0;
  text-align: center; 
}

.title {
  font-size: 26px;
  color: limegreen;
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

.task {
  display: flex;
  justify-content: space-between; /* горизонтально - по краям */
  align-items: center; /* вертикально - по центру */
  border-bottom: 2px double rgb(110, 64, 203); /* нижня рамка під задачею */
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: white;
  color: darkblue;
  border: 1px solid skyblue;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 1.5px;

  transition: all 0.3s; /* плавна анімація */
}

.btn:hover {
  background-color: rgb(114, 210, 30);
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  border: 2px solid silver;
  border-radius: 4px;
  font-size: 17px;
}

input::placeholder {
  color: silver;
  letter-spacing: 2px;
}

.complete{
  text-decoration:line-through;
  color:gray;
}

.counter-tasks{
  color:green;
  border: 4px double red;
}

